.selectBoxWrapper {
}

.selectBox {
  outline: none;
}

.selectBox[data-focus="true"] {
  outline: 2px solid #000;
}

.selectOptionWrapper {
  position: absolute;
  transition: all 0.1s;
}

.selectOptionWrapperOpen {
  visibility: visible;
  opacity: 1;
}

.selectOptionWrapperClosed {
  visibility: hidden;
  opacity: 0;
}

.selectOption {
}

.errorMessage {
}
